<%- include("header") -%>

</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="./view-detail.html" class="app-brand-link">
                        <span class="menu-text fw-bolder ms-2" style="font-size: 18px;">Auditorium Booking System</span>
                    </a>
                </div>
                <ul class="menu-inner py-1">
                    <li class="menu-item">
                        <a href="./book-auditorium.html" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-store-alt"></i>
                            <div data-i18n="Account Settings">Add Auditorium</div>
                        </a>
                    </li>
                    <li class="menu-item active">
                        <a href="./view-detail.html" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-store-alt"></i>
                            <div data-i18n="Account Settings">View Details</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link"  data-bs-toggle="modal"
                        data-bs-target="#modalCenter">
                            <i class="menu-icon tf-icons bx bx-store-alt"></i>
                            <div data-i18n="Account Settings">Logout</div>
                        </a>
                    </li>
                </ul>
            </aside>
            <!-- / Menu -->

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl container-p-y">
                        <div class="col-lg-12 mb-4 order-0">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row mb-5">
                                        <div class="col-md">
                                          <div class="card mb-3">
                                            <div class="row g-0">
                                              <div class="col-md-4">
                                                <img class="card-img card-img-left" src="../../includes/assets/img/elements/12.jpg" alt="Card image" />
                                              </div>
                                              <div class="col-md-8">
                                                <div class="card-body">
                                                  <h5 class="card-title">Card title</h5>
                                                  <p class="card-text">
                                                    This is a wider card with supporting text below as a natural lead-in to additional content.
                                                    This content is a little bit longer.
                                                  </p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md">
                                          <div class="card mb-3">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                  <img class="card-img card-img-right" src="../../includes/assets/img/elements/17.jpg" alt="Card image" />
                                                </div>
                                              <div class="col-md-8">
                                                <div class="card-body">
                                                  <h5 class="card-title">Card title</h5>
                                                  <p class="card-text">
                                                    This is a wider card with supporting text below as a natural lead-in to additional content.
                                                    This content is a little bit longer.
                                                  </p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Do you want to Logout</h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                              Close
                            </button>
                            <button type="button" class="btn btn-primary">Logout</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- / Content -->
<%- include("footer") -%>